/**index.wxss**/
page {

  background-color: rgba(211, 211, 211, 0.2);

  .userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
  }

  .userinfo-avatar {
    overflow: hidden;
    width: 128rpx;
    height: 128rpx;
    margin: 20rpx;
    border-radius: 50%;
  }

  .card {
    border: 2rpx solid #ebebeb;
    border-radius: 16px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(211, 211, 211, 0.2);
    margin: 8px;

    &:active {
      box-shadow: 0 4px 4px 0 rgba(211, 211, 211, 0.4);
    }
  }

  .action-button {
    height: 96rpx !important;
    width: 96rpx !important;
    box-shadow: 0 4px 8px 1px rgba(54, 54, 54, 0.22);

    &:active {
      box-shadow: 0 4px 8px 1px rgba(54, 54, 54, 0.4);
    }
  }
}