/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  box-sizing: border-box;
}

.bottom-0 {
  bottom: 0px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.my-20 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.w-auto {
  width: auto;
}