/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  box-sizing: border-box;
}

.bottom-0 {
  bottom: 0px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.my-4 {
  margin: 4rpx 0;
}

.my-20 {
  margin: 20rpx 0;
}

.mt-20 {
  margin-top: 20rpx;
}

.my-20 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.pt-12 {
  padding-top: 12rpx;
}

.w-auto {
  width: auto !important;
}

.item-parent {
  margin: -16px 0 0 -16px;
}

.item {
  margin: 16rpx 16rpx 0 0 !important;
}