.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  box-sizing: border-box;
}

.van-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.van-multi-ellipsis--l2 {
  -webkit-line-clamp: 2
}

.van-multi-ellipsis--l2,
.van-multi-ellipsis--l3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis
}

.van-multi-ellipsis--l3 {
  -webkit-line-clamp: 3
}

.van-clearfix:after {
  clear: both;
  content: "";
  display: table
}

.van-hairline,
.van-hairline--bottom,
.van-hairline--left,
.van-hairline--right,
.van-hairline--surround,
.van-hairline--top,
.van-hairline--top-bottom {
  position: relative
}

.van-hairline--bottom:after,
.van-hairline--left:after,
.van-hairline--right:after,
.van-hairline--surround:after,
.van-hairline--top-bottom:after,
.van-hairline--top:after,
.van-hairline:after {
  border: 0 solid #ebedf0;
  bottom: -50%;
  box-sizing: border-box;
  content: " ";
  left: -50%;
  pointer-events: none;
  position: absolute;
  right: -50%;
  top: -50%;
  transform: scale(.5);
  transform-origin: center
}

.van-hairline--top:after {
  border-top-width: 1px
}

.van-hairline--left:after {
  border-left-width: 1px
}

.van-hairline--right:after {
  border-right-width: 1px
}

.van-hairline--bottom:after {
  border-bottom-width: 1px
}

.van-hairline--top-bottom:after {
  border-width: 1px 0
}

.van-hairline--surround:after {
  border-width: 1px
}

.bottom-0 {
  bottom: 0px;
}

.right-0 {
  right: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.my-4 {
  margin: 4rpx 0;
}

.my-20 {
  margin: 20rpx 0;
}

.mt-8 {
  margin-top: 8rpx;
}

.mt-20 {
  margin-top: 20rpx;
}

.mt-32 {
  margin-top: 32rpx;
}

.mt-48 {
  margin-top: 48rpx;
}

.mt-64 {
  margin-top: 64rpx;
}

.my-20 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.ml-120 {
  margin-left: 120rpx;
}

.mr-120 {
  margin-right: 120rpx;
}

.mb-20 {
  margin-bottom: 20rpx;
}

.mb-40 {
  margin-bottom: 40rpx;
}

.ml-8 {
  margin-left: 8rpx;
}

.pt-12 {
  padding-top: 12rpx;
}

.p-24 {
  padding: 24rpx;
}

.text-gray-50 {
  color: rgb(247, 248, 250);
}

.text-gray-100 {
  color: rgb(242, 243, 245);
}

.text-gray-200 {
  color: rgb(235, 237, 240);
}

.text-gray-300 {
  color: rgb(220, 222, 224);
}

.text-gray-400 {
  color: rgb(200, 201, 204);
}

.text-gray-500 {
  color: rgb(150, 151, 153);
}

.text-gray-600 {
  color: rgb(100, 101, 102);
}

.text-gray-700 {
  color: rgb(50, 50, 51);
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.van-button--info {
  background: var(--button-info-background-color, #1989fa);
  border: var(--button-border-width, 1px) solid var(--button-info-border-color, #1989fa) !important;
  color: var(--button-info-color, #fff);
}